* {
    margin: 0;
    padding: 0;
}

/* These are colors for some text */
.pinkText {
    color: rgb(231, 160, 172);
}
.greenText {
    color: rgb(158, 255, 158);
}
.blueText {
    color: lightskyblue;
}
.lightPurple {
    color: mediumslateblue;
}

